

@{
    ViewData["Title"] = "Department Upadate Page";
}

<form  action="/Department/update" method="post">

ID: <input type="text" name="id" id="id"/>
Name: <input type="text" name="name" id="name"/>
Location: <input type="text" name="location" id="location"/>
<button type="submit" type="btn">Update</button>

</form>